@font-face {
  font-family: 'apercu';
  src: url('../fonts/apercu_bold-webfont.woff2') format('woff2'),
  url('../fonts/apercu_bold-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'apercu';
  src: url('../fonts/apercu_regular-webfont.woff2') format('woff2'),
  url('../fonts/apercu_regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'apercu';
  src: url('../fonts/apercu-light-webfont.woff2') format('woff2'),
  url('../fonts/apercu-light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

body {
  font: 400 16pt apercu;
  color: $brand-text-1;
  line-height: 1.5;
}

$font1-r-m: 400 0.9em apercu;
a {
  color: $brand-text-1;
}

a:hover {
  color: $brand-text-2;
}

.fa-heart {
  color: $brand-text-2;
}

.fa-heart.page-end {
  display: block;
  text-align: center;
  margin: 0 auto 2em;
}
