// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         white;
$brand-secondary:       #fff0fc;
$brand-text-1:          black;
$brand-text-2:          #e71c24;
