.mobile-nav {
  background-color: #fff0fc;
  position: fixed;
  bottom: 0;
  width: 100%;
  ul {
    font-size: 0.9rem;
    list-style: none;
    height: 60px;
    padding: 0;
    margin: 0;
    text-align: center;
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Chrome */
    display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
    li {
      display: inline-block;
      vertical-align: middle;
      padding: 0;
      width: 20%;

      a {
        display: block;
        padding: 9px 0 0;
        i {
          color: $brand-text-2;
        }
        p {
          margin: 0
        }
      }
    }
  }
}

.mobile-nav-more {
  font-size: .9em;
  min-width: 300px;
  width: 50%;
  padding: 15px 0 15px 25px;
  li {
    display: block;
    margin: 15px;
    a {
      padding:5px;
      i {
        color: $brand-text-2;
        display:inline-block;
      }
      p {
        margin: 0;
        display:inline-block;
      }
    }
  }
}

footer {
  margin-top: 0px;
}

.footer-nav {
  font-size: 0.8em;
  text-decoration: none;
}

.footer-nav ul {
  text-align: center;
  white-space: nowrap;
}

.footer-nav li {
  display: inline-block;
  width: 10%;
  min-width: 150px;
}
.lity{display:none;}
@media (max-width:767px){
  footer {
    margin-top: 75px;
  }
  .lity{display:block;}
}