// @/common/variables.scss
.full-width-container {
  width: 100%;
  text-align: center;
  background-color: $brand-secondary;
  color: $brand-text-2;
  font: 500 1rem apercu;
}
.shipping-banner{
  padding: 1.25% 0;
}
.nav-top {
  padding: 10px 0 0;
  text-align: center;
}

.nav-top a {
  font-size: 1.1rem;
  text-align: center;
}

.nav-top a:hover, .nav-top .active a {
  color: $brand-text-2;
  text-decoration: underline $brand-text-2;
}

.nav-top ul {
  padding-left: 0;
  list-style: none;
  position: absolute;
  top: 10px;
}

.nav-top li {
  display: inline-block;
  padding: 0 10px;
}

#menu-top-left-menu {
  left: 0;
}

#menu-top-right-menu {
  right: 0;
}
.branding {
  max-width: 200px;
  width: 35%;
  text-align: center;
  margin: 0 auto 30px;
  display: inline-block;
}

.branding img {
  width: 100%;
}

.nav-cart-total{
  font-size:0.5em;
  right:0;
  display:inline-block;
}
@media(max-width:768px){
  .nav-top ul{
    position: relative;
  }
}
.cart-area{
  right:0;
}