main::after {
}

#container {
  height: 100%;
}

.front-page-row {
  white-space: nowrap;
}

.custom-page-row {
  white-space: nowrap;
}

#customtext {
  font-family: doubletrouble;
  position: absolute;
  top: 35%;
  right: 30%;
}

.custom-page {
  padding: 0 0 5%;
}

.archive-page-row {
  white-space: nowrap;
}

textarea {
  resize: none;
  width: 100%;
  padding: 5px 20px;
  border: 3px solid #fff0fc;
}

.custom-page-header-row > .content-box > span {
  top: 40%;
  padding: 0 10%;
}

.custom-page-header-row > .custom-page > .content-box > span {
  bottom: 30%;
}

.custom-box label {
  display: block;
  border: 3px solid #fff0fc;
  border-bottom: 0;
  width: 50%;
  margin: 0;
  text-align: center;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 0.8em;
  text-decoration: underline;
  padding: 1% 0;
}

.archive-row-divider {
  display: block;
  width: 100%;
}

.two-image-row {
  width: 100%;
  text-align: center;
}

.content-row {
  text-align: center;
  width: 80%;
  position: relative;
  display: inline-block;
  white-space: normal;
}

.custom-archive-text-box, .custom-archive-image-box, .content-box {
  text-align: center;
  width: 49%;
  position: relative;
  display: inline-block;
  white-space: normal;
}

.content-box.right-box-image {
  margin: 1% 0 1% .5%;
  vertical-align: top;
}

.content-box.right-box-text {
  margin: 1% 0 1% .5%;
  vertical-align: top;
}

.content-box.left-box-image {
  margin: 1% .5% 1% 0;
  vertical-align: top;
}

.content-box.left-box-text {
  margin: 1% .5% 1% 0;
  vertical-align: top;
}

.content-box.right-box-text:before, .content-box.left-box-text:before {
  content: "";
  padding-top: 100%;
  display: block;
}

.custom-page-header-row .content-box.right-box-text:before, .custom-page-header-row .content-box.left-box-text:before {
  content: "";
  padding-top: 70%;
  display: block;
}

.content-box a {
  color: $brand-text-2;
}

.content-box span {
  text-decoration: underline;
  padding: 0 5%;
}

.custom-page .content-box span {
  text-decoration: none;
}

.custom-page .content-box span p {
  font-size: 0.9em;
  font-weight: 400;
}

.content-box span.right-text-1 {
  text-decoration: none;
  padding: 0 5%;
}

.content-box.left-box-image img, .content-box.right-box-image img {
  width: 100%;
}

.position-none {
  display: none;
}

.position-left-top {
  position: absolute;
  left: 7.5%;
  top: 5%;
}

.position-center-top {
  position: absolute;
  left: 0;
  right: 0;
  top: 5%;
}

.position-right-top {
  position: absolute;
  right: 0;
  top: 5%;
}

.position-left-middle {
  position: absolute;
  left: 7.5%;
  bottom: 50%;
}

.position-center-middle {
  position: absolute;
  left: 0;
  right: 0;
  top: 40%;
}

.position-right-middle {
  position: absolute;
  right: 7.5%;
  bottom: 50%;
}

.position-left-bottom {
  position: absolute;
  left: 7.5%;
  bottom: 5%;
}

.position-center-bottom {
  position: absolute;
  bottom: 5%;
  left: 0;
  right: 0;
}

.position-right-bottom {
  position: absolute;
  right: 7.5%;
  bottom: 5%;
}

.full-width-text {
  width: 100%;
  padding: 5% 10%;
  margin: 0 auto;
  text-align: center;
}

.full-width-text a {
  text-decoration: underline;
}

.full-width-text h2 {
  font-weight: 400;
  font-size: 1.5em;
  line-height: 1.6;
}

.front-page-row:last-of-type {
  padding: 5% 10%
}

.product-navigation {
  width: 100%;
  top: 2%;
  position: absolute;
  z-index: 1;
}

.product-navigation ul {
  list-style: none;
  text-align: center;
}

.product-navigation ul li {
  display: inline-block;
  margin: 0 2%;
}

.product-navigation a:active {
  color: #e71c24;
  text-decoration: underline #e71c24;
}

@media (max-width: 768px) {
  #container {
    height: inherit;
  }
  .content-box {
    width: 100%;
  }
  .content-box.right-box-text {
    margin: 0 0 1%;
  }
  .content-box.left-box-text {
    margin: 0 0 1%;
  }
  .content-box.right-box-image {
    margin: 0 0 1%;
  }
  .content-box.left-box-image {
    margin: 0 0 1%;
  }
  .full-width-text {
    padding: 5% 5%;
  }
  .full-width-text h2 {
    font-size: 1.3em;
  }
  .custom-page-row {
    white-space: normal;
  }
  .front-page-row {
    white-space: normal;
  }
  .archive-page-row {
    white-space: normal;
  }
  .archive-page-row .left-box-text::before {
    padding-top: 30%;
  }
}
@media (max-width: 508px) {
  .custom-page-header-row .content-box.right-box-text:before, .custom-page-header-row .content-box.left-box-text:before {
    padding-top: 100%;
  }
  .custom-page-header-row > .content-box > span {
    top: 20%;
    padding: 0 10%;
  }
  .custom-page-header-row > .content-box > span h3 {
    font-size: .8em;
  }
  .custom-page-header-row > .content-box > span p {
    font-size: .8em;
  }
}